@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display');
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "<";
}
.slick-prev:before[dir="rtl"] {
  content: ">";
}
.slick-next {
  right: -25px;
}
.slick-next[dir="rtl"] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: ">";
}
.slick-next:before[dir="rtl"] {
  content: "<";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
* {
  margin: 0;
  padding: 0;
}
* {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #FFF;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #FF69B4;
}
.ba-slider__img {
  display: block;
}
.ba-slider .slick-dots {
  bottom: 30px;
}
.ba-container {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 1366px;
            height: 768px; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #FFF;
}
.ba-header__logo {
  display: inline-block;
  margin-left: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.ba-header__logo:hover {
  transform: scale(1.15);
}
.ba-header__menu {
  display: inline-block;
  padding: 25px 25px 0 0;
  float: right;
}
.ba-header__item {
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-left: 55px;
}
.ba-header__item:hover {
  color: #eecd31;
  border-bottom: 1px solid #eecd31;
}
.ba-main {
  text-align: center;
  padding-top: 130px;
}
.ba-main h1 {
  width: 70%;
  margin: auto;
  font-family: "Playfair Display", Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
}
.ba-main h3 {
  width: 65%;
  margin: auto;
  margin-top: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.ba-main__btn {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  -webkit-border-radius: 20px;
  border-radius: 25px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 35px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #eecd31;
  border: 1px solid #eecd31;
}
.ba-main__btn:hover {
  background-color: white;
  color: #eecd31;
  border: 1px solid white;
}
.slick-dots li button {
  border: 1px solid #8C8C8C;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #8C8C8C;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li button:hover {
  background-color: #FFF;
  border: 1px solid #fff;
}
.slick-dots li.slick-active button {
  background-color: #FFF;
  border: 1px solid #fff;
}
.slick-prev,
.slick-next {
  z-index: 1001;
  width: 50px;
  height: 50px;
}
.slick-prev {
  left: 20px;
}
.slick-prev:before {
  content: "<";
  font-size: 50px;
}
.slick-next {
  right: 20px;
}
.slick-next:before {
  content: ">";
  font-size: 50px;
}
